body{
    background-color: gray;
    text-align:center;
}
.registersection{
    width: 500px;
    height: 700px;
    background-color:white;
    display: inline-block;
    text-align: justify;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 16px;
    padding: 20px;
}
.registersection span{
    color: red;
}
.formsection{
    text-align: center;
}
.formsection .halfinput{
    text-align: justify;
    display: inline-block;
    width: 45%;
}
input{
    width: 95%;
    border: none;
    background-color: black;
    border-radius: 10px;
    height: 25px;
}
.emailsection {
     text-align: justify;
    display: inline-block;
    width: 90%;
    margin-top: 15px;
}